#check:checked~.menu {
    right: 0;
    display: flex;
}

#user-menu {
    right: calc(5% + 60px);
}

@media screen and (max-width: 1024px) {
    #user-menu {
        right: 8px;
    }
}

@media screen and (max-width: 640px) {
    #user-menu {
        right: 34px;
    }
}