section {
    border-radius: 20px;
    background: #D4E3F5;
    box-shadow: 24px 24px 39px #c1cfdf,
        -24px -24px 39px #e7f7ff;
}

.shadow-inside {
    background: #D4E3F5;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}